.BasketElement{
    display: grid;
    grid-template-areas: "Image Cost Count";
    border : black solid;

}

.Image{
    grid-area: Image;
}

.Cost {
    grid-area: Cost;
}

.Count {
    grid-area : Count;
    display : grid;
    grid-template-areas: "decrement coutIn increment";
}

.dec{
    grid-area: decrement;
}
.coutIn{
    grid-area: coutIn;
    justify-self: center;
}

.inc {
    grid-area: increment;
}