

.basket{
    grid-area: Basket;
    background-color: #f1a205;
    border : thick black;
    color : red;
    padding: 10px;

    display : grid;

    grid-template-rows: 5fr min-content;
    overflow-y: auto;
    grid-template-areas:
            "BasketList"
            "BasketSend";
    /*border: solid #000;*/
    /*border-width: 5px;*/

}