.App{

    width: 100vw;
    height: 100vh;
    display: grid;


    grid-template-rows: minmax(10vh, max-content) minmax(5vh,max-content) minmax(80vh, max-content) minmax(5vh,max-content);

    grid-template-areas:
    "Header Header"
    "Nav Nav"
    "Main Main"
    "Footer Footer"
    ;

}