
.nav{
    grid-area: Nav;
    background-color: blue;
    color : wheat;
}

.items{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.active {
    color:gold;
    text-decoration: none;
    padding: 10px;
}