
.main{
    height: 100%;
    width: 100%;
    background-color: darkgray;

    display : grid;

    grid-template-columns: minmax(100px, 80vw) minmax(100px, 20vw);

    grid-template-areas:
    "Menu Basket";
}